[Unit]
Description=Set LIBVA_DRIVER_NAME based on GPU vendor

[Service]
Type=simple
ExecStart=/bin/bash -c 'gpu_vendor=$(lspci | grep -E "VGA|3D" | grep -E "Intel|NVIDIA" | head -n 1 | cut -d " " -f 5); if [ "$gpu_vendor" = "Intel" ]; then export LIBVA_DRIVER_NAME=iHD; elif [ "$gpu_vendor" = "NVIDIA" ]; then export LIBVA_DRIVER_NAME=nvidia; fi'

[Install]
WantedBy=multi-user.target
