[Unit]
Description=rclone-googledrive
After=network-online.target

[Service]
Type=notify

ExecStart=/usr/bin/rclone mount --vfs-cache-mode writes --no-modtime --vfs-fast-fingerprint googledrive: /mnt/data/googledrive/
ExecStop=/usr/bin/fusermount -zu /mnt/data/googledrive
Restart=on-failure
RestartSec=45

[Install]
WantedBy=default.target
