[Unit]
Description=rclone-googledrive
# Make sure we have network enabled
After=network-online.target

[Service]
Type=simple

ExecStart= \
/usr/bin/rclone mount \
--vfs-cache-mode full \
--no-modtime \
--vfs-fast-fingerprint\
googledrive: /home/fonseca/googledrive

# Perform lazy unmount
ExecStop=/usr/bin/fusermount -zu /home/fonseca/googledrive
# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=45

[Install]
# Autostart after reboot
WantedBy=default.target
